<h1>Listing pokemon_entries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pokedexnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemon_entries.each do |pokemon_entry| %>
      <tr>
        <td><%= pokemon_entry.name %></td>
        <td><%= pokemon_entry.pokedexNumber %></td>
        <td><%= link_to 'Show', pokemon_entry %></td>
        <td><%= link_to 'Edit', edit_pokemon_entry_path(pokemon_entry) %></td>
        <td><%= link_to 'Destroy', pokemon_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pokemon entry', new_pokemon_entry_path %>
