<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon_entry.name %>
</p>

<p>
  <strong>Pokedexnumber:</strong>
  <%= @pokemon_entry.pokedexNumber %>
</p>

<%= link_to 'Edit', edit_pokemon_entry_path(@pokemon_entry) %> |
<%= link_to 'Back', pokemon_entries_path %>
